<!DOCTYPE html>
<title>Tic Tac Toe!</title>
<link rel="stylesheet" href="/stylesheets/home.css">
<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

<div id=top>
  Welcome to Tic-Tac-Toe
  <div style="font-size: 25px; text-align: center">by Bora Ercan</div>
</div>

<div id="picture">
  &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &emsp; &ensp;
  <img src="/images/home.gif" width = 170px>
  <img src="/images/home.gif" width = 170px>
  <img src="/images/home.gif" width = 170px>
</div>

<div style="align: center;">
  <div class="button">
    <a href="google.com">Player vs. AI</a>
  </div>
  <div class="button">
    <a href="google.com">Player vs. Player</a>
  </div>
</div>

<script src="/js/home.js"></script>
